pyyaml==5.4.1
pystan
statsmodels # https://www.statsmodels.org/devel/install.html
seaborn==0.12.1
pyyaml==5.4.1
#pystan==2.19.1.1  
seaborn==0.11.2
matplotlib==3.5.1
pandas==1.3.5
scipy==1.7.3
mpl_axes_aligner==1.3
#To install metbrewer follow: https://github.com/BlakeRMills/MetBrewer#install-package
